.container {
  margin-top: 5em;
  margin-bottom: 5em;
}

img {
  margin-right: 15px;
  width: 9%;
  height: auto;
}

.btn{
  background: black;
  color: white;
}

#letter {
  display:none;
}

.firstName, .lastName, .carType, .domicle {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: darkred;
}